div.input {
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: green;

    margin: 10px 0;
    display: flex; justify-content: space-between;
    align-items: center;
    height: 30px;

}
div.input input {
    border: none;
    background-color: transparent; color: gray;
    padding: 0 30px;
    width: 100%; height: 30px;
}
div.input button {
    border: none;
    border-radius: 100px;

    background-color: green;
    min-width: 20px; max-width: 20px;
    min-height: 20px; max-height: 20px;
    margin: 0 5px;
}